/* Стилизация полосы прокрутки */
/* WebKit */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* Цвет фона */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 201, 10); /* Цвет ползунка */
    border-radius: 10px;
  }
  
  /* Firefox */
  /* Для Firefox используйте свойство scrollbar-color */
  /* Задайте цвет ползунка и фона, соответственно */
  /* Применяется к полосе прокрутки в Firefox */
  /* Но не затрагивает полосу прокрутки в MacOS */
  /* (там она будет стандартной) */
  scrollbar-color: red #1e1e1e;
  
  /* Дополнительные стили для более красивого вида */
  /* Уменьшаем ползунок в высоту */
::-webkit-scrollbar-thumb {
    height: 50px; /* Измените на желаемую высоту */
}
  


body {
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.box{
    background: #0e0e0e;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.8);
    padding-bottom: 1vh;
    margin-top: 10vh;
    width: 60vh;
}
.participants{
    margin-left: 1vh;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

li {
    margin-bottom: 5px;
    font-size: 2vh;
    color: #a1a1a1;
    margin-right: 10px; /* Добавляем небольшой отступ между элементами */
}


img {
    max-width: 100%;
    height: auto;
}



.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Скрытие выступающих частей размытого изображения */
  }
  
  .blur {
    filter: blur(15px); /* Более сильное размытие */
    transition: filter 0.3s ease;
    margin: -10px; /* Выступание за края */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Более темный цвет фона */
    opacity: 0;
    transition: opacity 0.3s ease; /* Более быстрая анимация */
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .text {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
  }
  
  .image-container:hover .blur {
    filter: blur(20px); /* Уменьшение размытия при наведении */
  }
  
  .image-container:hover .overlay {
    opacity: 0.8; /* Более быстрое появление наложения */
  }
  
  
