@font-face {
    font-family: 'Bauhs';
    src: url('fonts/BAUHS93.TTF') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(225deg, #00032b, #000732, #002d54, #002b3f, #001f25);
    background-size: 200% 200%;
    animation: gradientAnimation 20s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
/* h1 {
    font-family: 'Bauhs', sans-serif;
    color: #fff;
    font-size: 5vh;
} */
h1 {
    font-family: 'Bauhs', sans-serif;
    color: #fff;
    font-size: 5vh;
    padding: 2vh;
    border-radius: 5vh;
    /* border: solid #fff 0.2vh; */

    background: rgba(0, 0, 0, 0.3);
}
h2 {
    font-family: 'Bauhs', sans-serif;
    color: #fff;
    font-size: 5vh;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


#logo {
    width: 5vh;
    padding: 2.5vh;
    /* padding-right: 2vh; */

    margin: 0;
    padding: 0;
}
