@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/MultiroundPro/MultiroundPro.otf') format('opentype');
}
@font-face {
    font-family: 'MUNICH';
    src: url('fonts/MUNICH\ SANS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #ffffff;
    /* background: url(girl_in_forest_16x9_colored.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
}

/* LOCAL */

h1{
    color: #fff;
    font-family: 'MyCustomFont', sans-serif;
    /* background: linear-gradient(90deg, #313049, #212136); */
    /* background: #a3a3a3; */
    background: #0077ff;

    border-radius: 0.8vh;
    /* border: solid #a3a3a3 0.3vh; */

    font-size: 5vh;
    width: 50vh;

    text-align: center;
    padding: 3vh;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-right: 5vh;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
h1:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* #green{
    background: linear-gradient(135deg, #4d4d4d, #00ff15);
} */
#new{
    background: #447bba;
    border: none;
}
p{
    font-family: 'MUNICH', sans-serif;
    color: #fff;
}

/* LOCAL */

.line_days{
    display: flex;
    justify-content: center;flex-direction: row;
    align-items: center;
}
.square {
    width: 5vh;
    height: 5vh;
    margin: 2vh;
    background-color: gray;
    display: inline-block;
    border-radius: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'MUNICH', sans-serif;
}

.active {
    /* background: #00ff15; */
    /* color: #000; */
    border-bottom: solid #00ff15 1vh;
}
.day_line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2vh;
    /* background: #3d3d3d; */
    background: #767f8b;
    border-radius: 2vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;

    width: 20vh;
}
.block_line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
h3{
    margin: 1vh;
    font-family: 'MUNICH', sans-serif;
    color: #fff;
}
#back{
    text-align: center;
    font-family: 'MUNICH', sans-serif;
    color: #fff;
    font-size: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background: #0077ff;
    color: white;
    padding: 1vh;
    z-index: 1000; /* Чтобы он был поверх других элементов */
    margin: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
#back:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
.lesson{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 2vh;
    margin-top: 5vh;
}
h5{
    margin: 1vh;
    font-family: 'MUNICH', sans-serif;
    color: #fff;
    font-size: 3vh;
    width: 20vh;
}
#link{
    background: #3d3d3d;
    border-radius: 1vh;
    padding: 1vh;
    font-size: 3vh;
    font-family: 'MUNICH', sans-serif;
    color: #fff;
    width: 10vh;
    text-align: center;
    margin-right: 5vh;
}
h4{
    margin: 1vh;
    font-family: 'MUNICH', sans-serif;
    color: #fff;
    font-size: 3vh;
    width: 20vh;
}
#upper{
    margin-top: 5vh;
}
h6{
    margin: 1vh;
    font-family: 'MUNICH', sans-serif;
    color: #000000;
    font-size: 2vh;
}
.icon{
    color: #fff;
    font-family: 'MyCustomFont', sans-serif;
    /* background: linear-gradient(135deg, #4d4d4d, #ff4d4d); */
    background: #fff;
    border-radius: 5vh;
    font-size: 5vh;
    width: 15vh;
    text-align: center;

    padding: 3vh;

    margin-top: 5vh;
    margin-left: 4vh;

    margin-right: 5vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#icon{
    width: 10vh;
    margin: 0;
}
.book {
    cursor: pointer;
    margin-bottom: 1vh;
    color: #fff;
    font-family: 'MyCustomFont', sans-serif;
    /* background: linear-gradient(90deg, #313049, #212136); */
    /* background: #a3a3a3; */
    background: #767f8b;

    border-radius: 0.8vh;
    /* border: solid #a3a3a3 0.3vh; */

    font-size: 5vh;
    width: 50vh;

    text-align: center;
    padding: 3vh;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-right: 5vh;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.book_two {
    cursor: pointer;
    margin-bottom: 1vh;
    /* background: linear-gradient(90deg, #313049, #212136); */
    /* background: #a3a3a3; */
    /* background: rgba(0, 0, 0, 0.3); */

    border-radius: 0.8vh;
    /* border: solid #a3a3a3 0.3vh; */

    font-size: 5vh;
    width: 50vh;

    padding: 3vh;
    margin-top: 5vh;
    margin-left: 4vh;
    margin-right: 5vh;

}
#uni{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #333333;
}
#clock {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #64b4ff;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    font-size: 2rem;
    z-index: 1000;
    pointer-events: none;
    font-family: 'MyCustomFont', sans-serif;
    color: #fff;
}
#schedule {
    color: #fff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #64b4ff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    z-index: 1000;
    pointer-events: none;
    font-family: 'MyCustomFont', sans-serif;
}
.book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#up{
    margin-top: 870vh;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #fff;
}

.popup-content {
    background: #0077ff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-icon {
    width: 40px;
    height: 40px;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

.popup-body {
    margin-top: 20px;
}

.popup-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.popup-footer img {
    width: 40px;
    height: 40px;
}

hr {
    border: none;
    height: 2px;
    background-color: #007bff;
    margin-top: 20px;
}
h2{
    font-family: 'MyCustomFont', sans-serif;
    color: #fff;
    background: none;
}